@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@import 'reset.less';
@import 'variables.less';
@import 'mixins.less';
@import 'base.less';
@import 'layout.less';
@import 'components/_components.less';

.social {
  text-align: center;

  h4 {
    margin-bottom: 2rem;
  }

  .social-icons {
    .social-link {
      .link(inherit, @red);

      &:not(:last-child) {
        padding-right: 2rem;
      }
    }
  }
}