// Fonts
@primary-font: 'Lato', sans-serif;
@secondary-font: 'Roboto', sans-serif;

// Colors
@gray: rgba(193, 193, 193, 1);
@gray-trans: rgba(193, 193, 193, 0.5);
@navy: rgba(44, 66, 81, 1);
@red: rgba(209, 102, 102, 1);
@red-trans: rgba(209, 102, 102, 0.5);
@green: rgba(182, 198, 73, 1);
@white: rgba(255, 255, 255, 1);
@white-trans: rgba(255, 255, 255, 0.8);